<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>This is our About Section.</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas hic magni libero fugit? Sed ipsum fugiat possimus consectetur similique voluptate illo officiis accusantium illum distinctio ducimus aspernatur, eaque optio excepturi? Beatae, pariatur incidunt natus quasi tenetur dolorum nesciunt a neque, reiciendis dolores reprehenderit aperiam cum distinctio quibusdam ex qui doloremque vitae laudantium?</h2>
</body>
</html>
