<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Welcome to the Home Page Section.</h1>
    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt temporibus inventore dolorem alias animi consequuntur eaque cum nam maiores! Excepturi pariatur expedita accusantium est suscipit, cupiditate laborum, laudantium nisi qui assumenda commodi laboriosam rem quas earum corporis! At placeat rem molestiae, sed earum dolorem tempore. Suscipit veniam possimus at quam est! Necessitatibus.</h2>
</body>
</html>
